.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.bgGradientPrimaryToSecondary {
	background: #1e30f3;
	background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.textGradient {
	background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#pinkText {
	color: #e21e80;
}

.rounded-4 {
	border-radius: 1rem !important;
}

.feature {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	font-size: 1.5rem;
}

.profile {
	position: relative;
	height: 75vw;
	width: 75vw;
	border-radius: 5vw;
	margin-top: 5vw;
	max-height: 40rem;
	max-width: 40rem;
}
.profileImg {
	height: 80vw;
	max-height: 40rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

@media (min-width: 576px) {
	.profile {
		height: 60vw;
		width: 60vw;
	}
	.profileImg {
		height: 65vw;
	}
}
@media (min-width: 768px) {
	.profile {
		height: 50vw;
		width: 50vw;
	}
	.profileImg {
		height: 55vw;
	}
}
@media (min-width: 992px) {
	.profile {
		height: 40vw;
		width: 40vw;
	}
	.profileImg {
		height: 45vw;
	}
}
@media (min-width: 1200px) {
	.profile {
		height: 35vw;
		width: 35vw;
	}
	.profileImg {
		height: 40vw;
	}
}
@media only screen and (max-width: 992px) {
	#cardImg {
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 568px) {
	#btTxt {
		flex-direction: column-reverse;
	}
}

#TextGr {
	color: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#icon{
	justify-content: center;
}

@media only screen and (min-width: 1400px) {
	#icon {
		justify-content: start;
	}
}
